@import 'variables/colors';

.container {
  padding: 30px;
  width: 450px;
}

.title {
  color: $azure;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}

.password-recovery-icon-title {
  height: 200px;
  width: 200px;
}
