$transparent: transparent;
$white: #FFF;
$black: #000;
$black-tooltip: #222;
$blue: #06F;
$azure: #35599F;
$valencia: #D34836;
$silver: #C5C5C5;
$gray-default: #808080;
$light-gray: #CCC;
$whisper: #EEE;
$navbar-color: #F9F9F9;
$dove-gray: #C2D1E2;
$brand-primary: var(--brand-primary);
