@import 'variables/colors';

@import 'variables/breakpoints';

.drop-zone-container {
  border: 1px dashed black;
  border-radius: 5px;
  max-width: 500px;
  padding: 20px;
}

.drop-zone {
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  @include sm {
    padding: 10px;
  }
  padding: 30px;
}

.upload-img {
  height: 100px;
}

.dropzone-footer {
  background-color: $azure;
  border-radius: 5px;
  border-top: none;
  color: $white;
  height: 125px;
  padding: 15px;
};
