@import 'variables/colors';

.container {
  padding: 0 30px 30px;
  width: 450px;
}

.title {
  color: $azure;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sign-up-icon-title {
  height: 125px;
  width: 125px;
}
