@import 'src/scss/variables/colors';

@import 'src/scss/variables/breakpoints';

.login-container {
  background: $white;
  margin-bottom: 20px;
  max-width: 450px;
}

.login-form-container {
  padding: 20px;
}

.login-banner {
  bottom: 0;
  max-height: 150px;
  position: absolute;
}

.login-welcome {
  font-size: 18px;
  @include xs {
    margin-bottom: 15px;
  }
  line-height: 23px;
  margin-bottom: 25px;
}

.login-icon-title {
  height: 200px;
  @include xs {
    height: 100px;
    margin-bottom: 15px;
    width: 100px;
  }
  margin-bottom: 30px;
  width: 200px;
}
