@import 'variables/colors';

.input-label {
  font-size: 15px;
  line-height: 24px;
  padding-left: 15px;
}

.input {
  background: $white;
  border: 1px solid $azure;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 15px;
  height: 40px;
  line-height: 24px;
  margin-bottom: 10px;
  padding: 5px 15px;
  width: 100%;

  &.input-error {
    border-color: $valencia;
  }
}

.login-button {
  background: $azure;
  border-radius: 10px;
  height: 40px;
  width: 500px;
}

.login-button-text {
  color: $white;
  font-size: 15px;
  line-height: 19px;
}

.forgot-password {
  color: $azure;
  font-size: 12px;
  line-height: 15px;
  padding-left: 10px;
}

.error {
  color: $valencia;
  font-size: 16px;
  padding-left: 15px;
}
